.row {
    background-color: cornflowerblue;
    color: #fff;
    border: 1px solid;
    padding: 1rem;
    position: relative;
    word-wrap: break-Word;
}
.div {
    min-height: 100px;
    max-height: 500px;
}

.img-product {
    width: 80%;
    height: 3rem;

    /* padding: .5rem; */
}

/* .div-pai {
    display: table;
    width: 100%;
}  */

/* html, body {
    height: 100%;
    display: inline-block;
    background-color: blue;
} */
/* 
dropdown-menu {
    word-wrap: break-word;
} */

.quebrar-linha {
    display: inline;
}
/* .sem-quebrar-linha {
    white-space: nowrap;
} */
